{% extends "layout.html" %}
{% block body %}
    <div class="container">

      <div class="hero-unit">
        <center>
          <img src="{{ url_for('static', filename='oakland_digital.png') }}"/>
          <p>Ruby on Rails application development.  Statistics and data services.</p>
        </center>
      </div>

      <div class="row">
        <div class="span6">
          <h2>Portfolio<img src="{{url_for('static', filename='down.jpg')}}"/></h2>
          <p>Below the fold please find some snapshots and descriptions of previous work.</p>
        </div>
        <div class="span5">
          <h2>Who We Are</h2>
           <p> My name is <a href="http://github.com/bdigital" style="text-decoration:none; color: green">Robert Berry</a>.  I work with a loose cohort of excellent software developers, designers, and domain experts.</p>
       </div>
        <div class="span5">
          <h2>Get In Touch</h2>
          <p>It's always good to talk.  Get in touch at <strong>berrydigital@gmail.com</strong> or at <strong>503.504.3151</strong>.</p>
        </div>
      </div>
      <br/>
    </div>

      <div class="fitio_block">
        <div class="container">
          <br/>
          <h1 class="light">Fit.io</h1>
          <p class="light">How much are you worth in the labor market?  What opportunities are available to you, right now?  This is a project to aggregate and search classified job ads as well as salary statistics, enabling job seekers to make informed employment decisions.  <a href="http://fit.io" style="color:green">Try it out:</a></p>
          <br/><br/><br/>
          <a href="http://fit.io" style="border: 0">
            <img src="{{url_for('static', filename='fitio.png')}}">
          </a>
          <br/><br/><br/><br/>
          <div class="row">
            <div class="span6">
              <h2 class="light">Data Normalization</h2>
              <p class="light">Processed 2GB of Bureau of Labor Statistics data and H1B filings to build a salary model.</p>
            </div>
            <div class="span5">
              <h2 class="light">NLP</h2>
               <p class="light">Research in probabilistic lexical colocation models to classify company names in unstructured text data.</p>
           </div>
            <div class="span5">
              <h2 class="light">Data Processing</h2>
              <p class="light">Horizontally scalable processing infrastructure allows crawling and indexing millions of job ads in stride.</p>
            </div>
          </div>
          <br/>
          
        </div>
        
      </div>
      <div class="timetool_block">
        <div class="container">
        <br/>
        <h1 class="dark">Timetool.org</h1>
        <p class="dark">Do you know where you spend your time?  Do you know what you enjoy doing most?  I threw this application together over a long weekend to help me answer questions like these.  <a href="http://timetool.org" style="color:green">Try it out</a>: keep track of your daily activities and review the data neatly summarized in some simple visulaizations.</p><br/>
        <center>
          <a href="http://timetool.org" style="border: 0">
            <img src="{{url_for('static', filename='timetool.png')}}">
          </a>
        </center>
        </div>
      </div>
      
      
      <div class="cascade_block">
        <div class="container">
          <br/>
          <h1 class="light">Cascade Rate</h1>
          <p class="light">Hotel owners make a lot of pricing decisions every day.  Monitoring competitor pricing is a key factor.  Cascade Rate collected and normalized pricing data from across the web to provide statistical summaries on the local hotel room markets.</p>
          <center>
          
          <div id="waterwheel-carousel-default">
            <div class="carousel-controls">
            	<div class="carousel-prev"><a href="#">&lt; previous</a></div>
            	<div class="carousel-next"><a href="#">&gt; next</a></div>
            </div>
            <div class="carousel-images">
              
              
              <img src="{{url_for('static', filename='cascade3.png')}}" alt="Test Image 1" />
              <img src="{{url_for('static', filename='cascade7.png')}}" alt="Test Image 1" />
              <img src="{{url_for('static', filename='cascade2.png')}}" alt="Test Image 1" />
              <img src="{{url_for('static', filename='cascade1.png')}}" alt="Test Image 1" />
              <img src="{{url_for('static', filename='cascade5.png')}}" alt="Test Image 1" />
              <img src="{{url_for('static', filename='cascade4.png')}}" alt="Test Image 1" />
              <img src="{{url_for('static', filename='cascade6.png')}}" alt="Test Image 1" />
            </div>
          </div>
    
          </center>
          
                    <br/><br/><br/><br/>
          <div class="row">
            <div class="span6">
              <h2 class="light">Distributed Computing</h2>
              <p class="light">Utilized Amazon EC2 to crawl and process data across up to 40 machines at a time.</p>
            </div>
            <div class="span5">
              <h2 class="light">Visualization</h2>
               <p class="light">Created numerous original data visualizations to explore competitive landscape.</p>
           </div>
            <div class="span5">
              <h2 class="light">Storage at Scale</h2>
              <p class="light">Stored large quantities of hotel rate data in sharded database infrastructure.</p>
            </div>
          </div>
          <br/>
          
        </div>
      </div>
    
{% endblock %}
